@model AboutPageVIewModel

@{
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

	

<main class="main single-page">
	<div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="index.html" rel="nofollow">Home</a>
				<span></span> Pages
				<span></span> About us
			</div>
		</div>
	</div>
	<section class="section-padding">
		@foreach (var item in Model.AboutListItemvms)
		{
			@if (!item.IsDeleted && !item.IsArchived)
			{
				<div class="container pt-25">
					<div class="row">
						<div class="col-lg-6 align-self-center mb-lg-0 mb-4">
							<h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">@item.Title</h6>
							<h1 class="font-heading mb-40">
								@item.Header
							</h1>
							<p>@item.Description</p>
						</div>
						<div class="col-lg-6">
							<img style="height:400px;width:100%" class="default-img"
								 src="@(!string.IsNullOrEmpty(item.ImageUrl) ? $"/Assets/assets/products/{item.ImageUrl}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
								 alt="">
						</div>
					</div>
				</div>
			}
		}

	</section>
	<section id="team" class="pt-25 wow fadeIn animated">

		<div class="container">
			<div class="row mb-50 align-items-center">
				<div class="col-md-6">
					<h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
					<h2 class="mb-15 wow fadeIn animated">Top team of experts</h2>
					<p class="text-grey-3 wow fadeIn animated">Our best Experts</p>
				</div>
			</div>

			<div class="position-relative">

				<div class="row wow fadeIn animated" id="expertRow">
					@foreach (var item in Model.ExpertListItems)
					{
						@if (!item.IsDeleted && !item.IsArchived)
						{
							<div class="col-lg-3 col-md-6 expert-card" style="margin-bottom:10px">
								<div class="blog-card border-radius-10 overflow-hidden text-center">
									<img style="height:420px;object-fit:cover" class="border-radius-10 mb-30 hover-up"
										 src="@(!string.IsNullOrEmpty(item.ImageUrl) ? $"/Assets/assets/products/{item.ImageUrl}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
										 alt="">
									<h4 class="fw-500 mb-0">@item.Name</h4>
									<p class="fw-400 text-brand mb-10">@item.Profession</p>
								</div>
							</div>
						}
					}
				</div>

			</div>


		</div>

	</section>
	<section id="work" class="mt-40 pt-50 pb-50 section-border">
		<div class="container">
			<div class="row mb-50">
				<div class="col-lg-12 col-md-12 text-center">
					<h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">Evara Coporation</h6>
					<h2 class="mb-15 text-grey-1 wow fadeIn animated">Our main branches<br> around the world</h2>
					<p class="w-50 m-auto text-grey-3 wow fadeIn animated">At vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium. ebitis nesciunt voluptatum dicta reprehenderit accusamus</p>
				</div>
			</div>
			<div class="row">
				
					@foreach (var item in Model.BranchListItems)
					{
						@if (!item.IsDeleted && !item.IsArchived)
						{
						<div class="col-md-4 text-center mb-md-0 mb-4">
							<img style="height:186px;width:280px"  class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated"
								 src="@(!string.IsNullOrEmpty(item.ImageUrl) ? $"/Assets/assets/products/{item.ImageUrl}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
								 alt="">
							<h4 class="mt-30 mb-15 wow fadeIn animated">@item.Place</h4>
							<p class="text-grey-3 wow fadeIn animated">@item.Address</p>
						</div>
						}
					}
					
				
			</div>
		</div>
	</section>
	<section id="testimonials" class="section-padding">
		<div class="container pt-25">
			<div class="row mb-50">
				<div class="col-lg-12 col-md-12 text-center">
					<h6 class="mt-0 mb-10 text-uppercase  text-brand font-sm wow fadeIn animated">some facts</h6>
					<h2 class="mb-15 text-grey-1 wow fadeIn animated">Take a look what<br> our clients say about us</h2>
					<p class="w-50 m-auto text-grey-3 wow fadeIn animated">At vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium. ebitis nesciunt voluptatum dicta reprehenderit accusamus</p>
				</div>
			</div>
			<div class="row align-items-center">
				@foreach (var item in Model.ClientListItems)
					{
						@if (!item.IsDeleted && !item.IsArchived)
					{
						<div class="col-md-6 col-lg-4">
							<div class="hero-card box-shadow-outer-6 wow fadeIn animated mb-30 hover-up d-flex">
								<div class="hero-card-icon icon-left-2 hover-up ">
									<img style="height:90px"  class="btn-shadow-brand hover-up border-radius-5 bg-brand-muted"
										 src="@(!string.IsNullOrEmpty(item.ImageUrl) ? $"/Assets/assets/products/{item.ImageUrl}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
										 alt="">
								</div>
								<div class="pl-30">
									<h5 class="mb-5 fw-500">
										@item.Name
									</h5>
									<p class="font-sm text-grey-5">@item.Profession</p>
									<p class="text-grey-3">"@item.Description"</p>
								</div>
							</div>
						</div>

					}
				}
				
			</div>
		</div>
	</section>
</main>