@model BasketTotalVm

<div class="col-md-6">
    <div class="order_review">
        <div class="mb-20">
            <h4>Your Orders</h4>
        </div>
        <div class="table-responsive order_table text-center" style="overflow-y:auto;height:478px">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Product</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {   
                        
                        <tr>
                            <td class="image product-thumbnail">
                                <img class="default-img"
                                     src="@(!string.IsNullOrEmpty(item.Product.PrimaryImageName) ? $"/Assets/assets/products/{item.Product.PrimaryImageName}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
                                     alt="">
                                </td>
                            <td>
                                <h5><a href="shop-product-full.html">@item.Product.Title</a></h5> <span class="product-qty">x @item.Count</span>
                            </td>

                            <td>
                                @{
                                    float totalPrice;
                                    if (float.TryParse(item.TotalItemPrice, out totalPrice))
                                    {
                                        <span>$ @totalPrice.ToString("0.00")</span>
                                    }
                                }
                            </td>
                        </tr>
                    }

                    <tr>
                        <th>SubTotal</th>
                        <td class="product-subtotal" colspan="2">$ @Model.TotalPrice</td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td colspan="2"><em>Free Shipping</em></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">$ @Model.TotalPrice</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>