
@model HomeVm

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $("body").on("click", "#prod-pag a.page-link", function (ev) {
            ev.preventDefault(); // Prevent the default behavior of anchor tags
            fetch($(this).attr("href"))
                .then(res => res.text())
                .then((data) => $("#hellobody").html(data));
        });
        $("body").on("click", ".action-btn", function (ev) {
            ev.preventDefault();
            fetch($(this).attr("href"))
                .then(res => {
                    if (res.ok) {

                        Command: toastr["success"]("Product added")
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "500",
                            "timeOut": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                        fetch(window.location.origin + '/Home/GetBasket')
                            .then(res => res.text())
                            .then(data => $("#basket").html(data))
                    }
                })
        });
        $("body").on("click", ".deleted", function (ev) {
            ev.preventDefault();
            $(this).closest('.lists').remove();
            alert($(this).attr("href"))
            fetch($(this).attr("href"))
                .then(res => {
                    if (res.ok) {
                        Command: toastr["danger"]("Product deleted")
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "500",
                            "timeOut": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                    }
                })
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function fetchBasket() {
            fetch(window.location.origin + '/Basket/Index')
                .then(res => res.text())
                .then(data => $("#basket").html(data));
        }

        function addProductToBasket(productId) {

            $.ajax({
                url: `/Basket/AddProductToBasket/${productId}`,
                type: 'POST',
            }).done(function (data) {
                Command: toastr["success"]("Product added");
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "500",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                fetchBasket();

            }).fail(function () {
                Command: toastr["danger"]("Product deleted");
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "500",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
            });

        };



        fetchBasket();
    </script>
    <script>
        function applyPriceFilter() {
            var minPrice = $("#slider-range").slider("values", 0);
            var maxPrice = $("#slider-range").slider("values", 1);
            var found = false;

            $(".product-cart-wrap").each(function () {
                var productPrice = parseFloat($(this).data("price"));
                if (productPrice >= minPrice && productPrice <= maxPrice) {
                    $(this).show();
                    found = true;
                } else {
                    $(this).hide();
                }
            });
            if (!found) {
                $("#nothing-found").show();
            } else {
                $("#nothing-found").hide();
            }
        }

        $(function () {
            var minSellPrice = 16;
            var maxSellPrice = 400;

            $("#slider-range").slider({
                range: true,
                min: minSellPrice,
                max: maxSellPrice,
                values: [minSellPrice, maxSellPrice], 
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>

    <script>
        function sortProducts(sortBy) {
            var productList = $("#product-list");
            var productWrappers = productList.children(".product-cart-wrap").get();

            productWrappers.sort(function (a, b) {
                var aValue, bValue;

                switch (sortBy) {
                    case 'PriceHighToLow':
                    case 'PriceLowToHigh':
                        aValue = parseFloat($(a).data('price'));
                        bValue = parseFloat($(b).data('price'));
                        break;
                    case 'ReleaseDate':
                        aValue = new Date($(a).data('created-date'));
                        bValue = new Date($(b).data('created-date'));
                        break;
                    case 'Rating':
                        aValue = parseFloat($(a).data('rating'));
                        bValue = parseFloat($(b).data('rating'));
                        break;
                }


                return sortBy === 'PriceHighToLow' || sortBy === 'ReleaseDate' ? aValue - bValue : bValue - aValue;
            });

            productList.empty().append(productWrappers);
            $("#sort-by-selected").text(sortBy);
        }
    </script>


    <script>
        var itemsPerPage = 7;

        function displayProducts(pageNumber) {
            var productList = $("#product-list");
            var products = productList.children(".product-cart-wrap");

            var startIndex = (pageNumber - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;

            products.hide();

            products.slice(startIndex, endIndex).show();
            updateTotalProductCount(products.length);
        }

    </script>

    <script>
        function updateItemCount() {
            var visibleProducts = $("#product-list .product-cart-wrap:visible").length;
            $("#item-count").text(visibleProducts);
        }

        $(document).ready(function () {
            updateItemCount();
        });

        function displayProducts() {
            var productWrappers = $("#product-list .product-cart-wrap");

            productWrappers.hide();

            if (itemsPerPage === 'All') {
                productWrappers.show();
            } else {
                productWrappers.slice(0, itemsPerPage).show();
            }

            // Update the item count
            updateItemCount();
        }
    </script>
}


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shop-product-fillter style-2">
                        <div class="totall-product">
                            <p> We found <strong id="item-count" class="text-brand">0</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span id="sort-by-selected">Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#" onclick="sortProducts('Featured')">Featured</a></li>
                                        <li><a href="#" onclick="sortProducts('PriceLowToHigh')">Price: High to Low</a></li>
                                        <li><a href="#" onclick="sortProducts('PriceHighToLow')">Price: Low to High</a></li>
                                        <li><a href="#" onclick="sortProducts('ReleaseDate')">Release Date</a></li>
                                        <li><a href="#" onclick="sortProducts('Rating')">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nothing-found" style="display: none;">
                        <p style="font-size:20px;color:red;text-align:center">Nothing Found</p>
                    </div>
                    <div class="product-list mb-50" id="hellobody">
                        <div id="product-list">
                        @foreach (var item in Model.ProductListItems)
                            {
                                @if (!item.IsDeleted && !item.IsArchived)
                            {
                                <div class="product-cart-wrap" data-price="@item.SellPrice" data-rating="@item.DiscountRate" data-created-date="@item.CreatedDate">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <div class="product-img-inner">
                                                <a href="ProductDetails/Index/@item.Id">
                                                    <img  class="default-img"
                                                         src="@(!string.IsNullOrEmpty(item.PrimaryImageName) ? $"/Assets/assets/products/{item.PrimaryImageName}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-action-1">
                                            <a asp-action="Index" asp-controller="ProductDetails" asp-route-id="@item.Id" aria-label="Quick view" class="action-btn hover-up" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                        </div>

                                        @if (item.Tags != null)
                                        {
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">@item.Tags.First()</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">@item.CategoryName</a>
                                        </div>

                                        <h2><a href="shop-product-right.html">@item.Title</a></h2>
                                        <div class="product-price">
                                                <span>$@item.SellPrice </span>
                                            <span class="old-price">$@item.Price</span>
                                        </div>
                                        <p class="mt-15">@item.Description</p>
                                        <div class="product-action-1 show">
                                                <div onclick="addProductToBasket(@item.Id)" class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                           
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>@item.DiscountRate %</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="shop-grid-right.html">Shoes</a></li>
                            <li><a href="shop-grid-right.html">Vehicle</a></li>
                            <li><a href="shop-grid-right.html">Dresses</a></li>
                            <li><a href="shop-grid-right.html">Swimwear</a></li>
                            <li><a href="shop-grid-right.html">Beauty</a></li>
                            <li><a href="shop-grid-right.html">Phone</a></li>
                            <li><a href="shop-grid-right.html">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <a href="javascript:void(0);" onclick="applyPriceFilter()" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Filter</a>
                    </div>
                    
                    <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                        <img src="~/Assets/assets/imgs/banner/banner-11.jpg" alt="">
                        <div class="banner-text">
                            <span>Women Zone</span>
                            <h4>Save 17% on <br>Office Dress</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>