@model ProductUpdateVm
@{
    ViewData["Title"] = "Update";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function handlePrimaryChange(productId, imageId) {
        $.ajax({
            type: 'POST',
            url: '/Seller/Product/SetPrimaryImage',
            data: { productId: productId, imageId: imageId },
            success: function (response) {
                
                Swal.fire({
                    icon: "success",
                    title: "Primary Image Changed",
                    showConfirmButton: false,
                    timer: 1500
                });
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Primary Image Could Not Changed",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }

    function handleDeleteImage(productId, imageId) {
        $.ajax({
            type: 'DELETE',
            url: '/Seller/Product/DeleteImage',
            data: { productId: productId, imageId: imageId },
            success: function (response) {

                Swal.fire({
                    icon: "success",
                    title: "Image Deleted",
                    showConfirmButton: false,
                    timer: 1500
                });

                window.location.reload();
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Image Could Not Deleted",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }
</script>

@section styles {
    <style>
        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
            display: none;
        }

        .custom-file-input::before {
            content: 'Select Image';
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            padding: 6px 12px;
            outline: 0;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: #c5c5c5;
        }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }

        .custom-file-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Product</h6>
    </div>
    <div class="card-body">
        <form action="/Seller/Product/Update/@Model.Id" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockNumber"></label>
                <input asp-for="StockNumber" class="form-control">
                <span asp-validation-for="StockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color"></label>
                <input asp-for="Color" class="form-control">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountRate"></label>
                <select asp-for="DiscountRate" class="form-control">
                    <option value="">None</option>
                    @for (int i = 10; i <= 100; i += 10)
                    {
                        <option value="@i">@i%</option>
                    }
                </select>
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Categories</label>
                <br />
                <select class="form-control" asp-for="CategoryId" asp-items='@ViewBag.Category'>
                    <option disabled selected>Select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagsId">Tags</label>
                <select class="form-control" asp-for="TagsId" asp-items='@ViewBag.Tags'>
                    <option disabled selected>Select Tags</option>
                </select>
                <span asp-validation-for="TagsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImages"></label>
                <br />
                @if (Model.ProductImagesData != null)
                {
                    @foreach (var image in Model.ProductImagesData)
                    {
                        <img style="width:15%" src="~/Assets/assets/products/@image.ImageName" />
                        <input type="radio" name="IsPrimary" value="@image.Id" checked="@image.IsPrimary" onchange="handlePrimaryChange(@Model.Id, @image.Id)" />
                        <img src="~/Assets/assets/imgs/theme/icons/icon-bin.png" class="banner-features wow fadeIn animated hover-up" onclick="handleDeleteImage(@Model.Id, @image.Id)" style="width: 40px; height: 40px;cursor: pointer;" />
                    }
                }
                <br />
                <input asp-for="ProductImages" accept="image/*" class="custom-file-input" id="customFile">
                <span asp-validation-for="ProductImages" class="text-danger"></span>
            </div>

            <div class="text" style="margin-top:10px">
                <button class="btn btn-success" style="color:white;background:#088178!important">Edit</button>
                <a href="/Seller/Product/Cancel" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>