    @model BasketTotalVm



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    function fetchBasket() {
        fetch(window.location.origin + '/Basket/Index')
            .then(res => res.text())
            .then(data => $("#basket").html(data));
    }

    function removeProductFromBasket(id) {
        $.ajax({
            url: `/Basket/RemoveProductFromBasket/${id}`,
            type: 'DELETE',
        }).done(function (data) {
            Command: toastr["error"]("Product deleted");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            fetchBasket();

        }).fail(function () {
            Command: toastr["danger"]("Product deleted");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    }

</script>

<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive" style="height:452px">
                    <table class="table shopping-summery text-center clean">
                        <thead>
                            <tr class="main-heading">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="image product-thumbnail">
                                        <img class="default-img"
                                             src="@(!string.IsNullOrEmpty(item.Product.PrimaryImageName) ? $"/Assets/assets/products/{item.Product.PrimaryImageName}" : "/Assets/assets/imgs/shop/product-2-1.jpg")"
                                             alt="">
                                    </td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">@item.Product.Title</a></h5>
                                    </td>
                                    <td class="price" data-title="Price"><span>$@item.Product.SellPrice </span></td>
                                    <td class="text-center" data-title="Stock">
                                        <div class="detail-qty border radius  m-auto">
                                            <a href="#" class="qty-change qty-down" data-item-id="@item.Id"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">@item.Count</span>
                                            <a href="#" class="qty-change qty-up" data-item-id="@item.Id"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-right subtotal" data-title="Cart">
                                        @{
                                            float totalPrice;
                                            if (float.TryParse(item.TotalItemPrice, out totalPrice))
                                            {
                                                <span>$ @totalPrice.ToString("0.00")</span>
                                            }
                                        }
                                    </td>

                                    <td class="action" data-title="Remove">
                                        <div onclick="removeProductFromBasket(@item.Id)" class="shopping-cart-delete">
                                            <a class="deleted"><i class="fi-rs-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }

                            
                        </tbody>
                    </table>
                </div>
                <div class="cart-action text-end">
                    <a asp-action="Index" asp-controller="Home" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                </div>
                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                <div class="row mb-50" style="justify-content:center">
                    <div class="col-lg-6 col-md-12">
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>Cart Totals</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Cart Subtotal</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">$0</span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">$0</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>