@model ShoppingMvc.ViewModels.ProductDetailVms.ProductDetailVm



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .product-color-red {
        background: red;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 40px;
    }

    .product-color-blue {
        background-color: blue;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentRating = 0;
        var ratingDivContainer = document.getElementById("product-rating-container");
        var ratingDiv = document.getElementById("product-rating");

        function updateRatingDisplay() {
            ratingDiv.style.width = currentRating + "%";
        }

        ratingDivContainer.addEventListener("mousemove", function (event) {
            var rect = ratingDivContainer.getBoundingClientRect();
            var offsetX = event.clientX - rect.left;
            var percentage = (offsetX / rect.width) * 100;
            currentRating = Math.round(percentage);
            updateRatingDisplay();
        });

        ratingDivContainer.addEventListener("click", function () {
            document.getElementById("Rating").value = currentRating;
        });
    });

    function handleAddComment(productId) {
        var commentMessage = document.getElementById("commentMessage").value;
        var currentRating = parseFloat(document.getElementById("Rating").value);

        $.ajax({
            type: 'POST',
            url: '/ProductDetails/AddComment',
            data: {
                productId: productId,
                message: commentMessage,
                rating: currentRating
            },
            success: function (response) {
                Swal.fire({
                    icon: "success",
                    title: "Comment has been added",
                    showConfirmButton: false,
                    timer: 1500
                });
                window.location.reload();
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Comment Couldn't be sent",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }

    function handleAddReplyComment(commentId, productId) {
        var replyCommentMessage = document.getElementById(`replyCommentMessage${commentId}`).value;
        var reviewsContainer = document.getElementById("NavTabsForScroll");

        $.ajax({
            type: 'POST',
            url: '/ProductDetails/AddReply',
            data: {
                commentId: commentId,
                message: replyCommentMessage,
                productId: productId,
            },
            success: function (response) {
                Swal.fire({
                    icon: "success",
                    title: "Comment has been added",
                    showConfirmButton: false,
                    timer: 1500
                });
                window.location.reload();

                reviewsContainer.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                })
            },
            error: function (xhr, status, error) {
                console.log(error)
                Swal.fire({
                    position: "top-center",
                    icon: "error",
                    title: "Comment Couldn't be sent",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    }
</script>
<script>
    $(document).ready(function() {
        $('.image-link').magnificPopup({type:'image'});
    });
</script>
<script>
    
    // Function to show the reply modal for a specific comment
    function showReplyModal(commentId) {
        $('#replyModal' + commentId).modal('show');
    }

    // Function to close the reply modal for a specific comment
    function closeReplyModal(commentId) {
        $('#replyModal' + commentId).modal('hide');
    }
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    function fetchBasket() {
        fetch(window.location.origin + '/Basket/Index')
            .then(res => res.text())
            .then(data => $("#basket").html(data));
    }

    function addProductToBasket(productId) {

        $.ajax({
            url: `/Basket/AddProductToBasket/${productId}`,
            type: 'POST',
        }).done(function (data) {
            Command: toastr["success"]("Product added");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            fetchBasket();

        }).fail(function () {
            Command: toastr["danger"]("Product deleted");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    };



    fetchBasket();
</script>



<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> @Model.Product.CategoryName
                <span></span> @Model.Product.Title
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        @{
                                            @foreach (var image in Model.Product.ProductImages)
                                            {
                                                <a href="/@image.ImageUrl" class="image-link">
                                                    <figure class="border-radius-10" style="height: 524px">
                                                        <img style="width: 100%; height: 100%" src="/@image.ImageUrl" alt="@image.ImageName">
                                                    </figure>
                                                </a>
                                            }
                                        }
                                        
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        @{
                                            foreach (var image in Model.Product.ProductImages)
                                            {
                                                <div><img width="140" height="90" src="/@image.ImageUrl" alt="@image.ImageName"></div>

                                            }
                                        }
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img src="~/Assets/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img src="~/Assets/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img src="~/Assets/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img src="~/Assets/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">@Model.Product.Title</h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Category: <a href="shop-grid-right.html">@Model.Product.CategoryName</a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:@Model.TotalRatingPercentage%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (@Model.Comments.Count)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">$@Model.Product.SellPrice</span></ins>
                                            <ins><span class="old-price font-md ml-15">$@Model.Product.Price</span></ins>
                                            <span class="save-price  font-md color3 ml-15">@Model.Product.DiscountRate% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>
                                            @Model.Product.Description
                                        </p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    @if (Model.Product.CategoryName == "Vehicle")
                                    {
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#"><span class="product-color-red"></span></a></li>
                                                <li><a href="#"><span class="product-color-blue"></span></a></li>
                                            </ul>
                                        </div>
                                    }

                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        
                                        <div class="product-extra-link2">
                                            <div onclick="addProductToBasket(@Model.Product.Id)">
                                                <button type="button" class="button button-add-to-cart">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">
                                            Tags:
                                            @foreach (var tag in @Model.Product.Tags)
                                            {
                                                <a href="#" rel="tag">@tag</a>
                                            }
                                        </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">@Model.Product.StockNumber Items In Stock</span></li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="tab-style3" id="NavTabsForScroll">
                            <ul class="nav nav-tabs text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews (@Model.TotalCommentsCount)</a>
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab entry-main-content">
                                <div class="tab-pane fade show active" id="Description">
                                    <p>
                                        @Model.Product.Description
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="Additional-info">
                                    <table class="font-md">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Stand Up</th>
                                                <td>
                                                    <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Folded (w/o wheels)</th>
                                                <td>
                                                    <p>32.5″L x 18.5″W x 16.5″H</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Folded (w/ wheels)</th>
                                                <td>
                                                    <p>32.5″L x 24″W x 18.5″H</p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Door Pass Through</th>
                                                <td>
                                                    <p>24</p>
                                                </td>
                                            </tr>
                                            <tr class="frame">
                                                <th>Frame</th>
                                                <td>
                                                    <p>Aluminum</p>
                                                </td>
                                            </tr>
                                            <tr class="weight-wo-wheels">
                                                <th>Weight (w/o wheels)</th>
                                                <td>
                                                    <p>20 LBS</p>
                                                </td>
                                            </tr>
                                            <tr class="weight-capacity">
                                                <th>Weight Capacity</th>
                                                <td>
                                                    <p>60 LBS</p>
                                                </td>
                                            </tr>
                                            <tr class="width">
                                                <th>Width</th>
                                                <td>
                                                    <p>24″</p>
                                                </td>
                                            </tr>
                                            <tr class="handle-height-ground-to-handle">
                                                <th>Handle height (ground to handle)</th>
                                                <td>
                                                    <p>37-45″</p>
                                                </td>
                                            </tr>
                                            <tr class="wheels">
                                                <th>Wheels</th>
                                                <td>
                                                    <p>12″ air / wide track slick tread</p>
                                                </td>
                                            </tr>
                                            <tr class="seat-back-height">
                                                <th>Seat back height</th>
                                                <td>
                                                    <p>21.5″</p>
                                                </td>
                                            </tr>
                                            <tr class="head-room-inside-canopy">
                                                <th>Head room (inside canopy)</th>
                                                <td>
                                                    <p>25″</p>
                                                </td>
                                            </tr>
                                            <tr class="pa_color">
                                                <th>Color</th>
                                                <td>
                                                    <p>Black, Blue, Red, White</p>
                                                </td>
                                            </tr>
                                            <tr class="pa_size">
                                                <th>Size</th>
                                                <td>
                                                    <p>M, S</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="Reviews">
                                    <!--Comments-->
                                    <div class="comments-area">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer questions & answers</h4>
                                                <div class="comment-list">
                                                    <!-- Display existing comments -->
                                                    @foreach (Comment comment in Model.Comments)
                                                    {
                                                        @if(!comment.IsDeleted && !comment.IsArchived)
                                                        {
                                                            <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    <img src="@(string.IsNullOrEmpty(comment.User?.ProfileImageUrl) ? "/Assets/assets/imgs/people/avatar1.jpg" : $"/{comment.User.ProfileImageUrl}")" alt="" style="width: 70px; height: 70px">
                                                                    <h6><a href="#">@comment.User.UserName</a></h6>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:@comment.Rating%">
                                                                        </div>
                                                                    </div>
                                                                    <p>@comment.Message</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">@comment.CreatedTime.ToString("MMMM d, 'at' h:mm tt");</p>

                                                                                <span style="cursor: pointer;" class="text-brand btn-reply" onclick="showReplyModal('@comment.Id')">Reply <i class="fi-rs-arrow-right"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            
                                                        }

                                                        @* @foreach (var reply in Model.Comments.SelectMany(comment => comment.Replies))
                                                        {
                                                            @if(!reply.IsDeleted && !reply.IsArchived)
                                                            {
                                                                <div class="single-comment justify-content-between d-flex" style="margin-left: 50px">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="@(string.IsNullOrEmpty(reply.User?.ProfileImageUrl) ? "/Assets/assets/imgs/people/avatar1.jpg" : $"/{reply.User.ProfileImageUrl}")" alt="" style="width: 70px; height: 70px">
                                                                            @if (reply.User != null)
                                                                            {
                                                                                <h6><a href="#">@reply.User.UserName</a></h6>
                                                                            }
                                                                    </div>
                                                                    <div class="desc">
                                                                        <p>@reply.Message</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">@reply.CreatedTime.ToString("MMMM d, 'at' h:mm tt");</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                
                                                            }
                                                        } *@
                                                        @foreach (var reply in comment.Replies)
                                                        {
                                                            @if(!reply.IsDeleted && !reply.IsArchived)
                                                            {
                                                                <div class="single-comment justify-content-between d-flex" style="margin-left: 50px">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center">
                                                                        <img src="@(string.IsNullOrEmpty(reply.User?.ProfileImageUrl) ? "/Assets/assets/imgs/people/avatar1.jpg" : $"/{reply.User.ProfileImageUrl}")" alt="" style="width: 70px; height: 70px">
                                                                            @if (reply.User != null)
                                                                            {
                                                                                <h6><a href="#">@reply.User.UserName</a></h6>
                                                                            }
                                                                    </div>
                                                                    <div class="desc">
                                                                        <p>@reply.Message</p>
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-flex align-items-center">
                                                                                <p class="font-xs mr-30">@reply.CreatedTime.ToString("MMMM d, 'at' h:mm tt");</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                
                                                            }
                                                        }

                                                        <div class="modal fade" id="replyModal@(comment.Id)" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                @if (Model.IsAuthenticatedUserExists)
                                                                {
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="replyModalLabel">Reply to Comment</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeReplyModal(@comment.Id)">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div asp-action="AddReplyComment">
                                                                                <input type="hidden" id="parentCommentId" name="parentCommentId" value="0" />
                                                                                <div class="form-group">
                                                                                    <label for="message" class="col-form-label">Message:</label>
                                                                                    <textarea class="form-control" id="replyCommentMessage@(comment.Id)" name="message" rows="3"></textarea>
                                                                                </div>
                                                                                <button type="button" class="btn btn-primary" onclick="handleAddReplyComment(@comment.Id, @Model.Product.Id)">Submit</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="mt-30">Ooops! You Are Not Authenticated.</h4>
                                                                        </div>

                                                                        <div class="modal-body">
                                                                            <button class="btn btn-primary">Sign Up</button>
                                                                        </div>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <!-- Display review statistics and rating distribution -->
                                                <!-- Your review statistics and rating distribution code goes here -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--comment form-->
                                    @if (Model.IsAuthenticatedUserExists)
                                    {
                                        <div class="comment-form">
                                            <h4 class="mb-15">Add a review</h4>
                                            <!-- Comment submission form -->
                                            <div id="commentForm">
                                                <div class="product-rate mb-30" id="product-rating-container">
                                                    <div id="product-rating" class="product-rating" style="width:90%"></div>
                                                </div>
                                                <textarea id="commentMessage" name="Comment.Message" placeholder="Your review" required></textarea>
                                                <!-- Hidden field to store mapped rating -->
                                                <input type="hidden" id="Rating" name="Rating" value="0">
                                                <button type="button" id="submitBtn" onclick="handleAddComment(@Model.Product.Id)">Submit</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h4 class="mt-30">Ooops! You Are Not Authenticated.</h4>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row mt-60">
                            <div class="col-12">
                                <h3 class="section-title style-1 mb-30">Related products</h3>
                            </div>
                            <div class="col-12">
                                <div class="row related-products">
                                    @await Component.InvokeAsync("ProductDetail")
                                   
                                </div>
                            </div>
                        </div>


                        <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                            <img class="border-radius-10" src="~/Assets/assets/imgs/banner/banner-4.png" alt="">
                            <div class="banner-text">
                                <h4 class="mb-15 mt-40">Repair Services</h4>
                                <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            @foreach (var category in Model.Categories)
                            {
                                <li><span>@category.Name</span></li>
                            }
                        </ul>
                    </div>
                    <!-- Product sidebar Widget -->
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">New products</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        @await Component.InvokeAsync("ProductDetail2")
                    </div>
                    <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
                        <img src="~/Assets/assets/imgs/banner/banner-11.jpg" alt="">
                        <div class="banner-text">
                            <span>Women Zone</span>
                            <h4>Save 17% on <br>Office Dress</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>