@model PaginationVm<IEnumerable<BranchListItemVm>>
@{
    Layout = null;
}

<style>
    .pagination .page-item.disabled:hover a {
        background-color: grey;
        cursor: not-allowed;
    }
</style>

<script>

    function handlePagination(page, size) {

        $.ajax({
            type: 'GET',
            url: `/Admin/Branches/BranchesPagination/`,
            data: {
                page: page,
                count: size,
            },
            success: function (data) {
                $("#sliderbody").html(data)
            }
        })
    }
</script>
<div class="row align-items-center title-row" style="margin-bottom:30px">
   
    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name" style="width:10%">
        <div class="title" style="text-align:center;font-size:20px;color:black">Place</div>
    </div>
    <div class="col-lg-2 col-sm-2 col-4 col-price" style="width:30%">
        <div class="title" style="text-align:center;font-size:20px;color:black">Address</div>
    </div>
    <div class="col-lg-2 col-sm-2 col-4 col-status" style="width:9%">
        <div class="title" style="text-align:center;font-size:20px;color:black">Status</div>
    </div>
    <div class="col-lg-2 col-sm-2 col-4 col-action text-end action-buttons" id="actionbut" style="width:25%">
        <div class="title" style="text-align:center;font-size:20px;color:black">Actions</div>
    </div>
</div>

@foreach (var item in Model.Items)
{
    <article>
        <div class="row align-items-center" style="justify-content:center;margin-bottom:20px">
            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name" style="width:10%">
                <a class="itemside">
                    <div class="left">
                        <img src="~/Assets/assets/products/@item.ImageUrl" class="img-sm img-thumbnail" style="width:100px;height:100px" alt="Item">
                    </div>
                    <div class="info">
                        <h6 class="mb-0">@item.Place</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price" style="width:25%"> <span>@item.Address</span> </div>
            <div class="col-lg-2 col-sm-2 col-4 col-status" style="width:9%">
                @if (item.IsArchived)
                {
                    <h3 class="badge rounded-pill alert-warning">Archived</h3>
                }
                else if (item.IsDeleted)
                {
                    <h3 class="badge rounded-pill alert-danger">Disabled</h3>
                }
                else
                {
                    <h3 class="badge rounded-pill alert-success">Active</h3>
                }
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-action text-end action-buttons" id="actionbut" style="width:25%">
                @if (!item.IsDeleted && !item.IsArchived)
                {
                    <a href="/Admin/Branches/Archived/@item.Id" class="btn btn-sm font-sm rounded btn-brand" style="background-color:orange">
                        <i class="material-icons md-edit"></i> Archive
                    </a>
                }

                @if (item.IsDeleted)
                {
                    <a href="/Admin/Branches/Update/@item.Id" class="btn btn-sm font-sm rounded btn-brand">
                        <i class="material-icons md-edit"></i> Edit
                    </a>
                }
                else if (!item.IsDeleted && item.IsArchived)
                {
                    <a href="/Admin/Branches/Update/@item.Id" class="btn btn-sm font-sm rounded btn-brand">
                        <i class="material-icons md-edit"></i> Edit
                    </a>
                }
                else
                {
                    <a href="/Admin/Branches/Update/@item.Id" class="btn btn-sm font-sm rounded btn-brand">
                        <i class="material-icons md-edit"></i> Edit
                    </a>
                }

                @if (item.IsDeleted)
                {
                    <a href="/Admin/Branches/RestoreProduct/@item.Id" class="btn btn-sm font-sm btn-light rounded" style="color:white ;background:orange">
                        Restore
                    </a>
                }
                else if (item.IsArchived)
                {
                    <a href="/Admin/Branches/RestoreArchiveProduct/@item.Id" class="btn btn-sm font-sm btn-light rounded" style="color:white ;background:orange">
                        Restore
                    </a>
                }
                else
                {
                    <a href="/Admin/Branches/DeleteProduct/@item.Id" class="btn btn-sm font-sm btn-light rounded">
                        <i class="material-icons md-delete_forever"></i> Delete
                    </a>
                }
                @if (item.IsDeleted)
                {
                    <a href="/Admin/Branches/DeleteFromData/@item.Id" class="btn btn-sm font-sm btn-light rounded remove-button" style=" color:white ;background-color: grey;">
                        <i class="material-icons md-delete_forever"></i> Remove
                    </a>
                }
                else if (item.IsArchived)
                {
                    <a href="/Admin/Branches/DeleteFromData/@item.Id" class="btn btn-sm font-sm btn-light rounded remove-button" style=" color:white ;background-color: grey;">
                        <i class="material-icons md-delete_forever"></i> Remove
                    </a>
                }
            </div>
        </div>
    </article>


}
@if (ViewBag.Message != null)
{
    <p style="text-align:center;font-size:20px;color:red">@ViewBag.Message</p>
}

<div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start" id="prod-pag">
            <li class="page-item @(Model.HasPrev ? "" : "disabled") ">
                <div class="page-link" onclick="handlePagination(@(Model.CurrentPage - 1), 4)" style="width:43px"><</div>
            </li>
            @for (int i = 1; i <= Model.LastPage; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <div class="page-link" onclick="handlePagination(@i, 4)" style="width:44px">0 @i</div>
                </li>
            }
            <li class="page-item @(Model.LastPage > 1 && Model.HasNext ? "" : "disabled")">
                <div class="page-link" onclick="handlePagination(@(Model.CurrentPage + 1), 4)" style="width:43px">></div>
            </li>
        </ul>
    </nav>
</div>
